<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Relations - Pay My Buddy</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>

<header>
    <nav>
        <p class="accueil">
            <a th:href="@{/transactions}">Pay My Buddy</a>
        </p>
        <a class="element-nav" th:href="@{/transactions}">Transférer</a>
        <a class="element-nav" th:href="@{/profile}">Profil</a>
        <a class="element-nav" th:href="@{/friends}">Ajouter relation</a>
        <a class="element-nav" th:href="@{/logout}">Se déconnecter</a>
    </nav>
</header>

<body class="relation-page">
<main>
    <p th:if="${param.logout}">Déconnecté.e</p>
    <p th:if="${successMessage}" th:text="${successMessage}"></p>
    <p th:if="${errorMessage}" th:text="${errorMessage}"></p>


    <form th:action="@{/friends/add}" method="post">
        <label class="titre-relation" for="email">Chercher une relation</label>
       <div class="chercher-relation">
           <input class="mail-relation" type="email" placeholder="Saisir une adresse mail" name="email" id="email">
           <button class="relation-button" type="submit">Ajouter</button>
       </div>

    </form>
</main>
</body>
</html>