<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Connexion - Pay My Buddy</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>


<body class="auth-page">

<div class="auth-rectangle">
    <header class="logo">
        <p>
            <a th:href="@{/login}">Pay My Buddy</a>
        <p>
    </header>

<main>
    <p class="alert alert-error" th:if="${param.error}">Email ou mot de pase incorrect.</p>
    <p class="alert alert-success" th:if="${param.logout}">Déconnecté.e</p>
    <p class="alert alert-error" th:if="${errorMessage}" th:text="${errorMessage}"></p>


    <form class="auth" th:action="@{/login}" method="post">
      <div>
            <input class="login-mail" type="email" name="email" id="email" placeholder="Mail" required>
        </div>

        <div>
            <input class="login-password" type="password" name="password" id="password" placeholder="Mot de passe" required>
        </div>

        <div>
            <button class="login-button" type="submit">Se connecter</button>
        </div>
    </form>
</main>
</div>

</body>
</html>