<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil - Pay My Buddy</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>

<header>
<nav>
    <p class="accueil">
        <a th:href="@{/transactions}">Pay My Buddy</a>
    </p>
    <a class="element-nav" th:href="@{/transactions}">Transférer</a>
    <a class="element-nav" th:href="@{/profile}">Profil</a>
    <a class="element-nav" th:href="@{/friends}">Ajouter relation</a>
    <a class="element-nav" th:href="@{/logout}">Se déconnecter</a>
</nav>
</header>
<body class="profile-page">
<main>
    <p th:if="${param.logout}">Déconnecté.e</p>
    <p th:if="${successMessage}" th:text="${successMessage}"></p>
    <p th:if="${errorMessage}" th:text="${errorMessage}"></p>


    <section class="modif-username">
        <form th:action="@{/profile/username}" method="post">
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" th:value="${username}" required>
            </div>
            <button class="modifier-button" type="submit">Modifier</button>
        </form>
    </section>

    <section class="modif-mail">
        <div>
            <label>Mail</label>
            <input class="modif-profil" type="email" name="email" th:value="${user.email}" readonly>
        </div>
    </section>

    <section class="modif-password">
        <div th:if="${param.editPassword == null}">
            <label>Password</label>
            <input class="modif-profil" type="password" value="*******" readonly>

            <a th:href="@{/profile(editPassword=true)}">Modifier</a>
        </div>

        <div th:if="${param.editPassword}">
            <form th:action="@{/profile/password}" th:object="${updatePasswordRequestDto}" method="post">
                 <div>
                    <label for="currentPassword">Mot de passe actuel</label>
                    <input class="modif-profil" type="password" id="currentPassword" th:field="*{currentPassword}" placeholder="Mot de passe actuel" required/>
                </div>
                <div>
                    <label for="newPassword">Nouveau mot de passe</label>
                    <input class="modif-profil" type="password" id="newPassword" th:field="*{newPassword}" placeholder="Nouveau mot de passe" required/>
                </div>
                <div>
                    <label for="confirmPassword">Confirmer mot de passe</label>
                    <input class="modif-profil" type="password" id="confirmPassword" th:field="*{confirmPassword}" placeholder="Confirmer mot de passe" required/>
                </div>
                <button class="modifier-button" type="submit">Valider</button>
            </form>
        </div>
    </section>

    <section class="solde-actuel">
        <label for="balance">Solde actuel :</label>
        <p id="balance" th:text="${user.balance}"></p>
    </section>
    <section class="modif-solde">
        <form th:action="@{/profile/balance}" method="post">
            <div>
                <label for="updateBalance">Modifier le solde</label>
                <input class="modif-profil" type="number" id="updateBalance" name="amount" step="0.01" placeholder="0.00" required>
            </div>
            <button class="modifier-button" type="submit">Modifier</button>
        </form>
    </section>

</main>

</body>
</html>