<!DOCTYPE html>
<html lang="fr">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inscription - Pay My Buddy</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body class="auth-page">

<div class="auth-rectangle">
    <header class="logo">
        <p>
            <a th:href="@{/login}">Pay My Buddy</a>
        <p>
    </header>

<main>
    <p class="alert alert-error" th:if="${param.error}">Email ou mot de pase incorrect.</p>
    <p class="alert alert-error" th:if="${errorMessage}" th:text="${errorMessage}"></p>
    <p class="alert alert-success" th:if="${successMessage}" th:text="${successMessage}"></p>

    <h1 class="invisible">S'inscrire à Pay My Buddy</h1>

    <label for="s'inscrire" class="invisible">S'inscrire</label>
    <form th:action="@{/register}" id="s'inscrire" method="post">
    <div>
        <label for="username" class="invisible">Username</label>
        <input class="register-username" type="text" id="username" name="username" placeholder="Username" maxlength="100" required>
    </div>

    <div>
        <label for="email" class="invisible">Adresse email</label>
        <input class="register-mail" type="email" id="email" name="email" placeholder="Mail" maxlength="100" required>
    </div>

    <div>
        <label for="password" class="invisible">Mot de Passe</label>
        <input class="register-password" type="password" id="password" name="password" placeholder="Mot de passe" maxlength="255" required>
    </div>

    <div>
        <button class="login-button" type="submit">S'inscrire</button>
    </div>
</form>
</main>
</div>
</body>
</html>